/*------ Buttons ------*/

.spx-btn {
    color: $muted;
    border: $borders $mid-trans;
    background-color: transparent;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 16px;
}

.spx-btn:hover,
.spx-btn:focus,
.spx-btn:active {
    color: $main-text-color;
    background-color: $brand-color;
}

.spx-btn-circle {
    padding: 0;
    color: $main-text-color;
    border: 2px solid $main-text-color;
    // Responsive Properties
    width: 70px;
    height: 70px;
    border-radius: 70px;
    font-size: 40px;
    line-height: 70px;
}

.spx-btn-circle:hover,
.spx-btn-circle:focus,
.spx-btn-circle:active {
    color: $main-text-color;
    background: $circle-hover-bgcolor;
    border: 2px solid $main-text-color;
}

#spx-firstpage-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*------ Responsive Classes ------*/

@media(max-width:767px) {
    .spx-btn-circle {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-size: 30px;
        line-height: 50px;
    }
    ul.spx-social-buttons li {
        display: block;
        margin-bottom: 10px;
    }
    ul.spx-social-buttons li:last-child {
        margin-bottom: 0px;
    }
}