/*-------- Forms & Inputs --------*/

#spx-contact-form {
    margin: 35px 0px;
}

.spx-input {
    font-size: 12px;
    width: 250px;
    color: #444;
    margin-bottom: 2px;
    padding: 0px 5px;
    border: none;
    border-radius: 0px;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}

.spx-btn-submit {
    color: $main-text-color;
    width: 250px;
    height: 40px;
    font-size: 14px;
    border-color: $brand-color;
    background-color: $brand-color;
    border-radius: 0px;
    margin-bottom: 2px;
    letter-spacing: 2px;
}

.spx-btn-submit:hover,
.spx-btn-submit:focus,
.spx-btn-submit:active {
    color: $main-text-color;
    border-color: $brand-color-highlighted;
    background-color: $brand-color-highlighted;
}
