/* Navbar */

#spx-navbar {
    border-top: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    // Responsive Properties
    padding: 20px 0;
    border-bottom: $borders transparent;
    background-color: transparent;
}

#spx-navbar.spx-navbar-shrink {
    padding: 0;
    border-bottom: $borders $nav-border-bottom-colour;
    background-color: #000;
}

#spx-navbar .navbar-collapse {
    box-shadow: none;
}

.icon-bar {
    background-color: $main-text-color;
}

#spx-navbar .navbar-nav li a {
    color: $main-text-color;
    letter-spacing: 2px;
    // Responsive Properties    
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
}

#spx-navbar .nav li a:focus,
#spx-navbar .nav li a:active {
    background: none;
}

#spx-navbar .nav li {
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

#spx-navbar .nav li a:hover,
#spx-navbar .nav li.active {
    background-color: $nav-hover-bgcolor;
}

#spx-navbar .navbar-nav {
    margin: 0px -15px;
}


@media(min-width:767px) and (max-width:992px) {
    #spx-navbar {
        font-size: 12px;
    }
    #spx-navbar .nav li a {
        padding: 10px 10px;
    }
}

@media(max-width:767px) {
    #spx-navbar {
        padding: 0;
        border-bottom: $borders $nav-border-bottom-colour;
        background-color: #000;
    }
    #spx-navbar .navbar-nav li a {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: $borders $mob-nav-seperator;
    }
}