/*--- Typography ---*/

body {
    color: $main-text-color;
    font-weight: 400;
    font-family: $headings-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 35px;
    font-weight: 700;
    text-transform: uppercase;
    // Responsive Properties
    font-size: 30px;
    letter-spacing: 4px;
}

p {
    font-family: $paragraph-font;
    line-height: 1.6;
    margin-bottom: 35px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    // Responsive Properties
    font-size: 20px;
}

a {
    color: $brand-color;
    border-bottom: $borders transparent;
}

a,
button,
img {
    transition: all .2s ease-in-out;
}

p a:hover,
p a:focus,
p a:active {
    border-bottom: $borders $brand-color-highlighted;
    text-decoration: none;
    color: $brand-color-highlighted;
    outline: 0;
}

#spx-firstpage-heading {
    margin-top: 75px;
    // Responsive Properties
    font-size: 80px;
}

#spx-subheading {
    // Responsive Properties
    font-size: 26px;
}

.spx-name {
    margin-bottom: 10px;
    letter-spacing: 0px;
}

#spx-copyright {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 100px;
}

#spx-copyright p {
    color: $muted;
    // Responsive Properties
    font-size: 14px;
}

@media(max-width:767px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 24px;
        letter-spacing: 1px;
    }
    p {
        font-size: 16px;
    }
    #spx-firstpage-heading {
        font-size: 30px;
    }
    #spx-subheading {
        font-size: 20px;
    }
    #spx-copyright p {
        font-size: 12px;
    }
}