<footer id="contact" class="section--block fullscreen js__scn">
  <div class="fullscreen__inner">
    <div class="container--m js__act-child--up">
      <h1>Contact Us</h1>
      <p>Looking for <a href="/articles/free-fridays.html">Free Fridays?</a></p>
      {% include contact-form.html %}
      {% include phone-email.html %}
      {% include social-buttons.html %}
      {% include legal.html %}
      {% unless page.category == "career" %}
      {% include subscript.html %}
      {% endunless %}
    </div>
  </div>
</footer>
