<div class="btn-group--inline">
  <a href="https://github.com/{{ site.github_username }}" class="btn btn--ghost">Github<i class="icon-github"></i></a>
  <a href="https://twitter.com/{{ site.twitter_username }}" class="btn btn--ghost">Twitter<i class="icon-twitter"></i></a>
  <a href="https://www.linkedin.com/company/{{ site.linkedin_page }}" class="btn btn--ghost">LinkedIn<i class="icon-linkedin"></i></a>
  <a href="https://plus.google.com/+{{ site.google_plus }}" class="btn btn--ghost">Google+<i class="icon-google-plus"></i></a>
  <a href="https://www.facebook.com/{{ site.facebook_page }}" class="btn btn--ghost">Facebook<i class="icon-facebook"></i></a>
</div>
