<div class="social-buttons">
  <a href="https://github.com/{{ site.github_username }}" class="button">Github<i class="icon-github"></i></a>
  <a href="https://twitter.com/{{ site.twitter_username }}" class="button">Twitter<i class="icon-twitter"></i></a>
  <a href="https://www.linkedin.com/company/{{ site.linkedin_page }}" class="button">LinkedIn<i class="icon-linkedin"></i></a>
  <a href="https://plus.google.com/+{{ site.google_plus }}" class="button">Google+<i class="icon-google-plus"></i></a>
  <a href="https://www.facebook.com/{{ site.facebook_page }}" class="button">Facebook<i class="icon-facebook"></i></a>
</div>
