<nav id="main-nav" class="navbar">
  {% include snippets/logo.html %}
  <label for="mobile-nav-check" class="menu-toggle" role="presentation">
    <span class="sr-only">Toggle Mobile Navigation</span>
    <span class="menu-bars"></span>
  </label>
  <input type="checkbox" id="mobile-nav-check" aria-checked="false" aria-controls="main-nav-list">
  <div id="main-nav-list" class="nav-list-container">
    {% if page.links %}
    <ul class="nav-list">{% for link in page.links %}
      <li><a href="{{ link.url }}">{{ link.text }}</a></li>{% endfor %}
    </ul>
    {% else %}
    <ul class="nav-list">{% for link in site.landing_links %}
      <li><a href="{{ link.url }}">{{ link.text }}</a></li>{% endfor %}
    </ul>
    {% endif %}
  </div>
</nav>
