@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-89g3g4');
	src:url('fonts/icomoon.eot?#iefix-89g3g4') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-89g3g4') format('truetype'),
		url('fonts/icomoon.woff?-89g3g4') format('woff'),
		url('fonts/icomoon.svg?-89g3g4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus2:before {
	content: "\e600";
}
.icon-facebook2:before {
	content: "\e601";
}
.icon-twitter2:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e607";
}
.icon-linkedin:before {
	content: "\e609";
}
