//------ Colors ------
$brand-color: #e96408
$brand-color-highlighted: lighten($brand-color, 10%)
$brand-color-bright: #ffbc05
$brand-color-darkened: darken($brand-color, 10%)
$hi-trans: rgba(255, 255, 255, .1)
$mid-trans: rgba(255, 255, 255, .2)
$lo-trans: rgba(255, 255, 255, .5)
$muted: #bbb
$mutedDark: darken($muted, 30%)

//------ Colored Elements ------
$circle-hover-bgcolor: $mid-trans
$nav-border-bottom-colour: $mid-trans
$nav-hover-bgcolor: $mid-trans
$nav-bar-color: rgba(black, 0.8)
$mob-nav-seperator: $hi-trans

//------ Typography ------
$main-text-color: #fff
$paragraph-font: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif
$headings-font: $paragraph-font

//------ Others ------
$thinborder: 1px solid
$thickborder: 2px solid

//------ Layout ------
$largeScreen: "screen and (min-width: 1024px)"
$mediumScreen: "screen and (max-width: 640px)"
$smallScreen: "screen and (max-width: 380px)"

//------ Media Queries ------
$navBreakToLarge: "screen and (min-width: 781px) and (max-width: 940px)"
/* Reduces the font-size of the nav links between the navbar turning mobile and */
/* fitting the full text size - just allows a bit more room for the full width navbar at smaller screen sizes */
$navBreak: "screen and (max-width: 780px)"
/* This break controls when the nav bar changes to the mobile version, only when the nav linkgs crash into the logo */
$btnsBreak: "screen and (max-width: 750px)"
/* This break controls when the buttons start to stack */

%clearfix
    &:after
        content: " "
        display: table
        clear: both

//------ Sizes ------

$jumbo: 3em // 60
$xxlarge: 2em // 40
$xlarge: 1.5em // 30
$large: 1.250em // 25
$normal: 1em // 20
$small: 0.8em // 16
$xsmall: 0.7em // 14
$xxsmall: 0.65em // 13
