.js
  [class*='js__act-this'],
  [class*='js__act-child'] > *
    transition-timing-function: ease-in-out
    transition-property: transform, opacity
    opacity: 0

    @for $i from 1 to 15
      &:nth-child(#{$i})
        transition-delay: 100ms * ($i - 1)

  [class*='js__act-this']
    transition-duration: $tr--mid

  [class*='js__act-child'] > *
    transition-duration: $tr--slow

  .js--active
    [class*='js__act-this'],
    [class*='js__act-child'] > *
      transform: translate3d(0, 0, 0)
      opacity: 1

  .js__act-this--up,
  .js__act-child--up > *
    transform: translate3d(0, 100px, 0)

  .js__act-this--rt
    transform: translate3d(-100px, 0, 0)
