/*--- Typography ---*/

html
  font-size: 14px

  @media (min-width: $bp--m)
    font-size: $fs--base

body
  font-family: $ff--main
  font-weight: 400
  color: $co--bk
  line-height: $lh--base

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 700
  line-height: $lh--tight
  margin-bottom: 1em
  text-transform: uppercase

h1
  font-size: $fs--xl
  margin-bottom: 1.5em

h2
  font-size: $fs--l

p
  line-height: $lh--para
  margin-bottom: 2em

  a
    text-decoration: none
    color: $co--brand
    border-bottom: $ln--thin transparent
    transition: all 0.2s ease-in-out

    &:hover,
    &:focus,
    &:active
      text-decoration: none
      color: $co--brand-highlighted
      border-bottom: $ln--thin $co--brand-highlighted
      outline: 0

small
  display: block
  font-weight: 300
  text-transform: none
  font-size: 0.9em
  opacity: 0.8

.legal
  font-size: $fs--xs
  margin-top: 5em
  color: $co--gr--mdk
  font-weight: 300

.contact-details
  a,
  span
    display: inline-block
    min-width: $ia-min-size
    line-height: $ia-min-size

  span
    display: block

.content
  ul
    margin-bottom: 2em
    padding-left: 1.5em
    list-style: circle

    li
      margin-bottom: 1em * $lh--para - $lh--base
